body {
    font-family: "Lato-black", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
/*navbar background and text color*/
nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

/*settings for navbar container*/
.navTop {
    display: flex;
    align-items: vertically;
    justify-content: space-between;
}

/*Search bar settings*/
.search {
    display: flex;
    align-items: center;
    background-color: rgb(68, 68, 68);
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;  
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}
/*Limited Time Offer text display*/
.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid rgb(167, 127, 240);
    cursor: pointer;
}
/*Navbar bottom settings*/
.navBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.menuItem:hover{
  color: rgb(127, 163, 240);
  text-decoration: underline;
  transition: 500ms;
}

/*Slider Settings*/
.slider {
    background: url("https://images.unsplash.com/photo-1558403748-6d8a03390378?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-position: 15%;
    overflow: hidden;
    background-size: cover;

  }

  .sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
  }

  .sliderItem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

/*background circle object*/
  .sliderBg{
    width: 750px;  
    height: 750px;
    border-radius: 50%;
    position: absolute;
    z-index: -3;
  }

  /*background shape color change for each item*/
  .sliderItem:nth-child(1) .sliderBg{
    background-color: rgba(133, 209, 195, 0.89);
  }

  .sliderItem:nth-child(2) .sliderBg{
    background-color: rgba(247, 99, 99, 0.897);
  }

  .sliderItem:nth-child(3) .sliderBg{
    background-color: rgba(169, 121, 201, 0.897);
  }

  .sliderItem:nth-child(4) .sliderBg{
    background-color: rgba(108, 151, 243, 0.89);
  }

  .sliderItem:nth-child(5) .sliderBg{
    background-color: rgba(180, 43, 139, 0.897);
  }

  /* Price color change for each item */
  .sliderItem:nth-child(1) .sliderPrice{
    background-color: rgb(133, 209, 195, 0.89);
  }

  .sliderItem:nth-child(2) .sliderPrice{
    background-color: rgb(247, 99, 99, 0.897);
  }

  .sliderItem:nth-child(3) .sliderPrice{
    background-color: rgb(169, 121, 201, 0.897);
  }

  .sliderItem:nth-child(4) .sliderPrice{
    background-color: rgb(108, 151, 243, 0.89);
  }

  .sliderItem:nth-child(5) .sliderPrice{
    background-color: rgba(180, 43, 139, 0.897);
  }

  /* Item display name */
  .sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    text-align: center;
    color: white;
  }

  .sliderItem:nth-child(3) .sliderTitle{
    right: 13%;
  } 

  .sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border-radius: 10px;
  }

  .buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(87, 87, 87);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
  }

  .buyButton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  /* Feature Section */
  .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }

  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .featureImg{
    width: 50px;
    height: 50px;
  }

  .featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }