body {
    font-family: "Lato-black", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
/*navbar background and text color*/
nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
/*settings for navbar container*/
.navTop {
    display: flex;
    align-items: vertically;
    justify-content: space-between;
}

/*Search bar settings*/
.search {
    display: flex;
    align-items: center;
    background-color: rgb(68, 68, 68);
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;  
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}
/*Limited Time Offer text display*/
.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid rgb(167, 127, 240);
    cursor: pointer;
}
/*Navbar bottom settings*/
.navBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

/*Slider Settings*/
.slider {
    background: url("https://images.unsplash.com/photo-1558120985-abcafafcae16?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-position: 15%;
    overflow: hidden;

  }

  .sliderWrapper{
    display: flex;
    width: 500vw;
  }

  .sliderItem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

/*background circle object*/
  .sliderBg{
    width: 750px;  
    height: 750px;
    border-radius: 50%;
    position: absolute;
    z-index: -3;
  }

  /*background shape color change for each item*/
  .sliderItem:nth-child(1) .sliderBg{
    background-color: rgb(161, 252, 237);
  }

  .sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(0, 146, 172);
  }

  .sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(0, 146, 172);
  }

  .sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(0, 146, 172);
  }

  .sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(0, 146, 172);
  }

  .sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    text-align: center;
    color: white;
  }

  .sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid gray;
  }

  .buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 40px;
    font-weight: 900;
    color: rgb(27, 27, 27);
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(161, 252, 237);
    border-radius: 10px;
    cursor: pointer;
  }

  .buyButton:hover{
    background-color: white;
    color: rgb(5, 5, 5);
  }